.navigation-footer {
  position: relative;
  width: 1440px;
  height: 264px;
  background-color: #ffffff;
}

.navigation-footer .items {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 517px;
}

.navigation-footer .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.navigation-footer .div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.navigation-footer .items-2 {
  right: 298px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.navigation-footer .items-3 {
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.navigation-footer .text-wrapper-2 {
  position: absolute;
  top: 52px;
  left: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.navigation-footer .social-icons {
  position: absolute;
  top: 176px;
  left: 80px;
  width: 184px;
  height: 40px;
}

.navigation-footer .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.navigation-footer .div-2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 264px;
  background-color: #ffffff;
}