.review {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 3603px;
  position: relative;
}

.review .text-wrapper {
  position: absolute;
  top: 2651px;
  left: 79px;
  width: 625px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #000000;
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.review .paragraph {
  position: absolute;
  width: 58.47%;
  top: 2168px;
  left: 21.94%;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.review .images {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 1669px;
  left: calc(50.00% - 639px);
}

.review .image {
  position: relative;
  width: 624px;
  height: 436px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.review .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 624px;
  height: 436px;
  aspect-ratio: 0.67;
  object-fit: cover;
}

.review .image-wrapper {
  position: relative;
  width: 624px;
  height: 436px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.review .div {
  position: absolute;
  width: 58.47%;
  top: 1213px;
  left: 20.76%;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.review .img-wrapper {
  position: absolute;
  width: 88.96%;
  top: 497px;
  left: 5.56%;
  height: 650px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.review .image-2 {
  width: 1281px;
  height: 650px;
  aspect-ratio: 0.65;
  object-fit: cover;
}

.review .article-title {
  display: flex;
  flex-direction: column;
  width: 50.90%;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 244px;
  left: 5.56%;
}

.review .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: #000000;
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  font-style: var(--title-font-style);
}

.review .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000bf;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.review .navigation-footer {
  position: absolute;
  width: 100%;
  top: 3339px;
  left: -1px;
  height: 264px;
  background-color: #ffffff;
  overflow: hidden;
}

.review .items {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 517px;
}

.review .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.review .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.review .items-2 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 298px;
}

.review .items-3 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 80px;
}

.review .text-wrapper-6 {
  position: absolute;
  top: 52px;
  left: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.review .social-icons {
  position: absolute;
  top: 176px;
  left: 80px;
  width: 184px;
  height: 40px;
}

.review .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.review .navigation-footer-2 {
  position: absolute;
  width: 100%;
  top: 1px;
  left: 0;
  height: 264px;
  background-color: #ffffff;
}

.review .cards {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  position: absolute;
  top: 2744px;
  left: 79px;
}

.review .card {
  display: flex;
  flex-direction: column;
  width: 404px;
  height: 434px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.review .image-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
}

.review .image-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 404px;
  height: 346px;
  aspect-ratio: 0.65;
  object-fit: cover;
}

.review .copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.review .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.review .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #828282;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.review .image-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 404px;
  height: 346px;
  aspect-ratio: 0.67;
  object-fit: cover;
}

.review .image-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 404px;
  height: 346px;
  aspect-ratio: 0.91;
  object-fit: cover;
}

.review .buttons {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 3221px;
  left: 79px;
}

.review .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.review .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.review .button-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 3221px;
  left: 1131px;
}

.review .navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 164px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.review .p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
  width: 338px;
  height: 30px;
  margin-left: 66px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.review .items-wrapper {
  display: inline-flex;
  margin-top: 56px;
  width: 590px;
  height: 52px;
  position: relative;
  margin-right: 80px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
}

.review .items-4 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: relative;
  flex: 0 0 auto;
}

.review .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.review .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.review .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}