.categories {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1442px;
  min-height: 4025px;
  position: relative;
}

.categories .hero-image {
  position: absolute;
  width: 88.77%;
  top: calc(50.00% - 1848px);
  left: 5.83%;
  height: 640px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/hero-image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.categories .image {
  aspect-ratio: 3.16;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 640px;
  object-fit: cover;
}

.categories .img {
  aspect-ratio: 2.28;
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 640px;
  object-fit: cover;
}

.categories .text-wrapper {
  position: absolute;
  top: 117px;
  left: 196px;
  width: 888px;
  font-family: "Just Me Again Down Here-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 250px;
  letter-spacing: 0;
  line-height: 375px;
  white-space: nowrap;
}

.categories .navigation-footer {
  position: absolute;
  width: calc(100% - 2px);
  top: 3761px;
  left: 4px;
  height: 264px;
  background-color: #ffffff;
}

.categories .items {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 517px;
}

.categories .div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.categories .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.categories .items-2 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 298px;
}

.categories .items-3 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 80px;
}

.categories .text-wrapper-3 {
  position: absolute;
  top: 52px;
  left: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.categories .social-icons {
  position: absolute;
  top: 176px;
  left: 80px;
  width: 184px;
  height: 40px;
}

.categories .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.categories .group {
  position: absolute;
  top: 838px;
  left: 80px;
  width: 1276px;
  height: 2793px;
}

.categories .buttons {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 3658px;
  left: 84px;
}

.categories .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.categories .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.categories .button-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 3658px;
  left: 1132px;
}

.categories .navigation {
  position: fixed;
  width: calc(100% - 2px);
  top: 0;
  left: 4px;
  height: 164px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.categories .p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
  width: 338px;
  height: 30px;
  margin-left: 66px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.categories .items-wrapper {
  display: inline-flex;
  margin-top: 56px;
  width: 590px;
  height: 52px;
  position: relative;
  margin-right: 80px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
}

.categories .items-4 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: relative;
  flex: 0 0 auto;
}

.categories .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.categories .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.categories .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}